<?xml version="1.0" encoding="UTF-8"?>

<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "il.Road.to.Recovery"
        version   = "1.9.4">
  <name>בדרך להחלמה</name>
  <description>
    R2R
  </description>
  <author href="http://dev.r2r.com" email="road2rdev@gmail.com">
    R2R
  </author>

  <!-- <preference name='phonegap-version' value='cli-8.1.1' /> -->
  <preference name="phonegap-version" value="cli-9.0.0" />
  <preference name='pgb-builder-version' value='2' />
<preference name="ServiceWorker" value="serviceWorker.js" />

  <icon src="icon.png" />

  <platform name="ios">
    <!-- iOS 8.0+ -->
    <!-- iPhone 6 Plus  -->
    <icon src="res/icon/ios/icon-60@3x.png" width="180" height="180" />
    <!-- iOS 7.0+ -->
    <!-- iPhone / iPod Touch  -->
    <icon src="res/icon/ios/icon-60.png" width="60" height="60" />
    <icon src="res/icon/ios/icon-60@2x.png" width="120" height="120" />
    <!-- iPad -->
    <icon src="res/icon/ios/icon-76.png" width="76" height="76" />
    <icon src="res/icon/ios/icon-76@2x.png" width="152" height="152" />
    <!-- Spotlight Icon -->
    <icon src="res/icon/ios/icon-40.png" width="40" height="40" />
    <icon src="res/icon/ios/icon-40@2x.png" width="80" height="80" />
    <!-- iOS 6.1 -->
    <!-- iPhone / iPod Touch -->
    <icon src="res/icon/ios/icon.png" width="57" height="57" />
    <icon src="res/icon/ios/icon@2x.png" width="114" height="114" />
    <!-- iPad -->
    <icon src="res/icon/ios/icon-72.png" width="72" height="72" />
    <icon src="res/icon/ios/icon-72@2x.png" width="144" height="144" />
    <!-- iPad Pro -->
    <icon src="res/icon/ios/icon-167.png" width="167" height="167" />
    <!-- iPhone Spotlight and Settings Icon -->
    <icon src="res/icon/ios/icon-small.png" width="29" height="29" />
    <icon src="res/icon/ios/icon-small@2x.png" width="58" height="58" />
    <icon src="res/icon/ios/icon-small@3x.png" width="87" height="87" />
    <!-- iPad Spotlight and Settings Icon -->
    <icon src="res/icon/ios/icon-50.png" width="50" height="50" />
    <icon src="res/icon/ios/icon-50@2x.png" width="100" height="100" />
    <!-- iPad Pro -->
    <icon src="res/icon/ios/icon-83.5@2x.png" width="167" height="167" />

    <!-- App -->
    <icon src="res/icon/ios/1024.png"  height="1024" width="1024" />


    <resource-file src="GoogleService-Info.plist" target="app/GoogleService-Info.plist" />
  </platform>

  <platform name="android">
    <resource-file src="google-services.json" target="app/google-services.json" />
    <preference name="android-targetSdkVersion" value="28" />
  </platform>

  <preference value="none" name="permissions"/>

  <plugin name="phonegap-plugin-push" source="npm" spec="~2.2.3">
    <variable name="ANDROID_SUPPORT_V13_VERSION" value="27.+" />
    <variable name="FCM_VERSION" value="11.6.2" />
  </plugin>

  <plugin name="cordova-support-google-services" source="npm" />
  <plugin name="cordova-plugin-whitelist" source="npm" />

  <allow-intent target="_blank" href="http://*/*"/>
  <allow-intent target="_blank" href="https://*/*"/>
  <allow-intent href="tel:*"/>
  <allow-intent href="sms:*"/>
  <allow-intent href="mailto:*"/>
  <allow-intent href="geo:*"/>
  <allow-navigation href="*" />
  <access origin="*" subdomains="true" />
</widget>